<h1>목차<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#라이브러리-로드" data-toc-modified-id="라이브러리-로드-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>라이브러리 로드</a></span></li><li><span><a href="#데이터-불러오기" data-toc-modified-id="데이터-불러오기-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>데이터 불러오기</a></span><ul class="toc-item"><li><span><a href="#결측치-확인" data-toc-modified-id="결측치-확인-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>결측치 확인</a></span></li><li><span><a href="#컬럼별-type-확인" data-toc-modified-id="컬럼별-type-확인-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>컬럼별 type 확인</a></span></li><li><span><a href="#기초-통계량-확인" data-toc-modified-id="기초-통계량-확인-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>기초 통계량 확인</a></span></li></ul></li><li><span><a href="#베이스라인-모델-제작-및-결과-확인" data-toc-modified-id="베이스라인-모델-제작-및-결과-확인-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>베이스라인 모델 제작 및 결과 확인</a></span></li><li><span><a href="#명목형-컬럼-분석" data-toc-modified-id="명목형-컬럼-분석-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>명목형 컬럼 분석</a></span><ul class="toc-item"><li><span><a href="#1.-ID-:-집을-구분하는-번호" data-toc-modified-id="1.-ID-:-집을-구분하는-번호-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>1. ID : 집을 구분하는 번호</a></span></li><li><span><a href="#2.-date-:-집을-구매한-날짜" data-toc-modified-id="2.-date-:-집을-구매한-날짜-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>2. date : 집을 구매한 날짜</a></span></li><li><span><a href="#3.-price-:-집의-가격(Target-variable)" data-toc-modified-id="3.-price-:-집의-가격(Target-variable)-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>3. price : 집의 가격(Target variable)</a></span></li><li><span><a href="#4.-bedrooms-:-침실의-수" data-toc-modified-id="4.-bedrooms-:-침실의-수-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>4. bedrooms : 침실의 수</a></span></li><li><span><a href="#5.-bathrooms-:-화장실의-수" data-toc-modified-id="5.-bathrooms-:-화장실의-수-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>5. bathrooms : 화장실의 수</a></span></li><li><span><a href="#8.-floors-:-집의-층-수" data-toc-modified-id="8.-floors-:-집의-층-수-4.6"><span class="toc-item-num">4.6&nbsp;&nbsp;</span>8. floors : 집의 층 수</a></span></li><li><span><a href="#9.-waterfront-:-집의-전방에-강이-흐르는지-유무-(a.k.a.-리버뷰)" data-toc-modified-id="9.-waterfront-:-집의-전방에-강이-흐르는지-유무-(a.k.a.-리버뷰)-4.7"><span class="toc-item-num">4.7&nbsp;&nbsp;</span>9. waterfront : 집의 전방에 강이 흐르는지 유무 (a.k.a. 리버뷰)</a></span></li><li><span><a href="#10.-view-:-집이-얼마나-좋아-보이는지의-정도" data-toc-modified-id="10.-view-:-집이-얼마나-좋아-보이는지의-정도-4.8"><span class="toc-item-num">4.8&nbsp;&nbsp;</span>10. view : 집이 얼마나 좋아 보이는지의 정도</a></span></li><li><span><a href="#11.-condition-:-집의-전반적인-상태" data-toc-modified-id="11.-condition-:-집의-전반적인-상태-4.9"><span class="toc-item-num">4.9&nbsp;&nbsp;</span>11. condition : 집의 전반적인 상태</a></span></li><li><span><a href="#12.-grade-:-King-County-grading-시스템-기준으로-매긴-집의-등급" data-toc-modified-id="12.-grade-:-King-County-grading-시스템-기준으로-매긴-집의-등급-4.10"><span class="toc-item-num">4.10&nbsp;&nbsp;</span>12. grade : King County grading 시스템 기준으로 매긴 집의 등급</a></span></li><li><span><a href="#17.-zipcode-:-우편번호" data-toc-modified-id="17.-zipcode-:-우편번호-4.11"><span class="toc-item-num">4.11&nbsp;&nbsp;</span>17. zipcode : 우편번호</a></span></li><li><span><a href="#15.-yr_built-:-지어진-년도" data-toc-modified-id="15.-yr_built-:-지어진-년도-4.12"><span class="toc-item-num">4.12&nbsp;&nbsp;</span>15. yr_built : 지어진 년도</a></span></li><li><span><a href="#16.-yr_renovated-:-집을-재건축한-년도" data-toc-modified-id="16.-yr_renovated-:-집을-재건축한-년도-4.13"><span class="toc-item-num">4.13&nbsp;&nbsp;</span>16. yr_renovated : 집을 재건축한 년도</a></span></li></ul></li><li><span><a href="#연속형-컬럼" data-toc-modified-id="연속형-컬럼-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>연속형 컬럼</a></span><ul class="toc-item"><li><span><a href="#6.-sqft_living-:-주거-공간의-평방-피트(면적)" data-toc-modified-id="6.-sqft_living-:-주거-공간의-평방-피트(면적)-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>6. sqft_living : 주거 공간의 평방 피트(면적)</a></span></li><li><span><a href="#7.-sqft_lot-:-부지의-평방-피트(면적)" data-toc-modified-id="7.-sqft_lot-:-부지의-평방-피트(면적)-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>7. sqft_lot : 부지의 평방 피트(면적)</a></span></li><li><span><a href="#13.-sqft_above-:-지하실을-제외한-평방-피트(면적)" data-toc-modified-id="13.-sqft_above-:-지하실을-제외한-평방-피트(면적)-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>13. sqft_above : 지하실을 제외한 평방 피트(면적)</a></span></li><li><span><a href="#14.-sqft_basement-:-지하실의-평방-피트(면적)" data-toc-modified-id="14.-sqft_basement-:-지하실의-평방-피트(면적)-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>14. sqft_basement : 지하실의 평방 피트(면적)</a></span></li><li><span><a href="#18.-lat-:-위도" data-toc-modified-id="18.-lat-:-위도-5.5"><span class="toc-item-num">5.5&nbsp;&nbsp;</span>18. lat : 위도</a></span></li><li><span><a href="#19.-long-:-경도" data-toc-modified-id="19.-long-:-경도-5.6"><span class="toc-item-num">5.6&nbsp;&nbsp;</span>19. long : 경도</a></span></li><li><span><a href="#20.-sqft_living15" data-toc-modified-id="20.-sqft_living15-5.7"><span class="toc-item-num">5.7&nbsp;&nbsp;</span>20. sqft_living15</a></span></li><li><span><a href="#21.-sqft_lot15" data-toc-modified-id="21.-sqft_lot15-5.8"><span class="toc-item-num">5.8&nbsp;&nbsp;</span>21. sqft_lot15</a></span></li></ul></li><li><span><a href="#이상치-제거-후,-test-set-평가" data-toc-modified-id="이상치-제거-후,-test-set-평가-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>이상치 제거 후, test set 평가</a></span></li><li><span><a href="#Feature-Engineering" data-toc-modified-id="Feature-Engineering-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Feature Engineering</a></span></li><li><span><a href="#Ensemble" data-toc-modified-id="Ensemble-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Ensemble</a></span></li><li><span><a href="#정리" data-toc-modified-id="정리-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>정리</a></span></li></ul></div>

# 라이브러리 로드

In [1]:
!pip install scikit-learn==0.24
!pip install kaggle
!pip install catboost

In [2]:
import warnings

import lightgbm as lgbm
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold, train_test_split
import xgboost as xgb

pd.options.display.max_columns = 30
pd.options.display.max_rows = 100
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
def custom_rmse(y_true, y_pred):
    return ('custom_RMSE', np.sqrt(np.mean(np.power(np.exp(y_pred) - np.exp(y_true), 2))), False)

# 데이터 불러오기
- target 값인 price는 y라는 변수로 따로 저장 후 train_df에서 삭제합니다.

In [4]:
train_df = pd.read_csv('kaggle_kakr_housing/data/train.csv')
train_df['target'] = np.log(train_df['price'])
train_df = train_df.drop(['price'], axis=1)
train_size = len(train_df)


test_df = pd.read_csv('kaggle_kakr_housing/data/test.csv')
df = pd.concat([train_df, test_df])

submission = pd.read_csv('kaggle_kakr_housing/data/sample_submission.csv')

In [5]:
train_df.head()

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,target
0,0,20141013T000000,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,12.309982
1,1,20150225T000000,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,12.100712
2,2,20150218T000000,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,13.142166
3,3,20140627T000000,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819,12.458775
4,4,20150115T000000,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,12.583995

## 결측치 확인

In [6]:
train_df.isna().sum()

id               0
date             0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
target           0
dtype: int64

## 컬럼별 type 확인

In [7]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15035 entries, 0 to 15034
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             15035 non-null  int64
 1   date           15035 non-null  object
 2   bedrooms       15035 non-null  int64
 3   bathrooms      15035 non-null  float64
 4   sqft_living    15035 non-null  int64
 5   sqft_lot       15035 non-null  int64
 6   floors         15035 non-null  float64
 7   waterfront     15035 non-null  int64
 8   view           15035 non-null  int64
 9   condition      15035 non-null  int64
 10  grade          15035 non-null  int64
 11  sqft_above     15035 non-null  int64
 12  sqft_basement  15035 non-null  int64
 13  yr_built       15035 non-null  int64
 14  yr_renovated   15035 non-null  int64
 15  zipcode        15035 non-null  int64
 16  lat            15035 non-null  float64
 17  long           15035 non-null  float64
 18  sqft_living15  15035 non-null  int64
 19  sqft_lot15     15035 non-null  int64
 20  target         15035 non-null  float64
dtypes: float64(5), int64(15), object(1)
memory usage: 2.4+ MB

## 기초 통계량 확인

In [8]:
train_df.describe()

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,target
count,15035.000000,15035.000000,15035.000000,15035.000000,1.503500e+04,15035.000000,15035.000000,15035.000000,15035.000000,15035.000000,15035.000000,15035.000000,15035.000000,15035.000000,15035.000000,15035.000000,15035.000000,15035.000000,15035.000000,15035.000000
mean,7517.000000,3.369139,2.115065,2083.790223,1.529697e+04,1.498071,0.007117,0.234253,3.406651,7.660725,1794.158164,289.632059,1971.100432,83.798936,98078.031726,47.560721,-122.213677,1992.754772,12823.884935,13.048120
std,4340.374984,0.902721,0.767519,922.134087,4.261282e+04,0.538522,0.084063,0.763376,0.646505,1.179803,831.738609,440.663284,29.407612,400.398498,53.297815,0.138164,0.141294,691.456442,27736.259787,0.527472
min,0.000000,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000,11.264464
25%,3758.500000,3.000000,1.750000,1430.000000,5.027500e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.472700,-122.328000,1490.000000,5100.000000,12.682307
50%,7517.000000,3.000000,2.250000,1910.000000,7.620000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1570.000000,0.000000,1975.000000,0.000000,98065.000000,47.571900,-122.231000,1850.000000,7610.000000,13.017003
75%,11275.500000,4.000000,2.500000,2560.000000,1.069550e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2230.000000,550.000000,1997.000000,0.000000,98117.000000,47.678300,-122.126000,2360.000000,10076.000000,13.377006
max,15034.000000,10.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4130.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000,15.856731

# 베이스라인 모델 제작 및 결과 확인
- 피쳐 엔지니어링을 하기 전에, 최초 데이터셋의 결과값을 확인해보자.
- 다만 피쳐로서 역할을 전혀 하지 않는 id를 제거하고, date 컬럼을 일단 삭제 후 처리하자.

In [9]:
class DataAnalysis:
    def __init__(self, train_df, test_df):
        self.train_df = train_df
        self.test_df = test_df
        self.test_size = len(test_df)
        self.df = pd.concat([train_df, test_df])
        self.best = 1e9
        self.prev_df = df.copy()
        self.dropped = ['id', 'target', 'date']
        self.log = False
        
    def compare_baseline(self, manually=False):
        x = self.df[:-self.test_size].copy()
        y = x['target']
        
        for col in self.dropped:
            if col in x.columns:
                x = x.drop(col, axis=1)
                
        train_x, val_x, train_y, val_y = train_test_split(x, y, test_size=0.15, random_state=32) 

        model = lgbm.LGBMRegressor(random_state=32, n_estimators=400) 
        model.fit(train_x, train_y, eval_set=[(train_x, train_y),(val_x, val_y)], eval_metric=custom_rmse, verbose=100)
        pred = np.exp(model.predict(val_x))
        val_y = np.exp(val_y)
            
        score = mean_squared_error(pred, val_y) ** 0.5
        
        if self.best == 1e9:
            print(f'\n 베이스라인 스코어를 계산했습니다. RMSE: {score} \n')
            self.best = score
            self.model = model
        elif score < self.best:
            print(f'\n score가 개선되었습니다!  기존 RMSE {self.best} 에서 {score} 로 줄었습니다. \n')
            self.best = score
            self.model = model
            self.prev_df = self.df.copy()
        elif manually:
            self.model = model
            print(f'\n 현재 수동모드입니다. rmse가 악화되도 이전 DataFrame으로 복구 하지 않습니다. 기존 RMSE {self.best} 에서 {score} 로 변했습니다. \n')
        else:
            print(f'\n score가 악화되었습니다!  기존 RMSE {self.best} 에서 {score} 로 증가했습니다. 이전 DataFrame으로 복구합니다. \n')
            self.df = self.prev_df.copy()
    
            
    
    def cross_validation(self):
        kf = KFold(5, shuffle=True, random_state=32)
        pred = np.array([0.] * self.test_size)
        
        train = self.df[:-self.test_size].reset_index(drop=True)
        y = train['target']
        for col in self.dropped:
            if col in train.columns:
                train = train.drop(col, axis=1)
                
        test = self.df[-self.test_size:]
        for col in self.dropped:
            if col in test.columns:
                test = test.drop(col, axis=1)
        
        for train_index, val_index in kf.split(train):
            train_x, val_x = train.iloc[train_index], train.iloc[val_index]
            train_y, val_y = y.iloc[train_index], y.iloc[val_index]
            self.model.fit(train_x, train_y, eval_set=[(train_x, train_y),(val_x, val_y)], eval_metric=custom_rmse, verbose=40)
            pred += self.model.predict(test) / 5
        return np.exp(pred)
            
            
    
    def make_prediction(self):
        test_df = self.df[-self.test_size:].copy()
        for col in self.dropped:
            if col in test_df.columns:
                test_df = test_df.drop(col, axis=1)
        
        return np.exp(self.model.predict(test_df))
    
    
    def drop_columns(self, cols):
        self.df = self.df.drop(cols, axis=1)
        self.train_df = self.df[:-self.test_size]
        self.test_df = self.df[-self.test_size:]
    
    
    def drop_rows(self, rows):
        self.train_df = self.train_df.drop(rows.index)
        self.df = pd.concat([self.train_df, self.test_df])
    
    
    def restore(self, outlier):
        pass
    
    
    def make_graph(self, column, Type='categorical'):
        train_df = self.df[:-self.test_size]
        if Type == 'categorical':
            plt.figure(figsize=(10, 6))
            plt.title(f"df['{column}'] histogram")
            sns.histplot(train_df[column])
            plt.plot()

            plt.figure(figsize=(10, 6))
            plt.title(f"df['{column}'] boxplot")
            if column == 'date':
                sns.boxplot(train_df['date'].apply(lambda x: x.value))
            else:
                sns.boxplot(data=train_df, x=column, y='target')
            plt.plot()
        else:
            plt.figure(figsize=(10,6))
            sns.distplot(train_df[column])
            plt.plot()
            plt.figure(figsize=(10,6))
            sns.scatterplot(data=train_df, x=column, y="target")
            plt.plot()

In [10]:
model = DataAnalysis(train_df, test_df)
model.compare_baseline()

[100]	training's l2: 0.0191137	training's custom_RMSE: 93843.2	valid_1's l2: 0.0264369	valid_1's custom_RMSE: 130974
[200]	training's l2: 0.0145783	training's custom_RMSE: 77992.9	valid_1's l2: 0.0256644	valid_1's custom_RMSE: 127078
[300]	training's l2: 0.0117097	training's custom_RMSE: 67453	valid_1's l2: 0.0256363	valid_1's custom_RMSE: 127132
[400]	training's l2: 0.00956444	training's custom_RMSE: 60624.1	valid_1's l2: 0.0256355	valid_1's custom_RMSE: 126726

 베이스라인 스코어를 계산했습니다. RMSE: 126726.39308105245

In [11]:
pred = model.make_prediction()
submission['price'] = pred
submission.to_csv('submission.csv', index=False)
!kaggle competitions submit -c 2019-2nd-ml-month-with-kakr -f submission.csv -m "target 값에만 log scaling 한 결과값"

<img src=https://i.ibb.co/s15YNcq/2021-10-17-15-15-00.png width=768></img>
<img src=https://i.ibb.co/YPV7ymh/2021-10-18-09-45-07.png width=768></img>

# 명목형 컬럼 분석

## 1. ID : 집을 구분하는 번호
- ID는 인덱스 역할을 하기에 삭제한다.
- 다만, 가끔씩 데이터 리키지 역할을 할 때가 있다.(예를 들어 실수로 가격에 따라 ID를 정렬한 데이터를 제공하는 등)

In [12]:
model.train_df['id'].corr(model.train_df['target'])

0.03593970154026387

상관관계가 0에 매우 가깝다.  
데이터리키지가 발견되지 않기 때문에, ID 컬럼을 삭제하자.

In [13]:
model.drop_columns(['id'])

## 2. date : 집을 구매한 날짜

In [14]:
model.df['datetime'] = pd.to_datetime(model.df['date']).dt.strftime('%Y%m%d').astype(int)

In [15]:
model.compare_baseline()

[100]	training's l2: 0.0181089	training's custom_RMSE: 91528.2	valid_1's l2: 0.0260609	valid_1's custom_RMSE: 131195
[200]	training's l2: 0.0134244	training's custom_RMSE: 76471	valid_1's l2: 0.0251901	valid_1's custom_RMSE: 128577
[300]	training's l2: 0.0106104	training's custom_RMSE: 65876.9	valid_1's l2: 0.0250799	valid_1's custom_RMSE: 128690
[400]	training's l2: 0.0085699	training's custom_RMSE: 57593.4	valid_1's l2: 0.0249806	valid_1's custom_RMSE: 127882

 score가 악화되었습니다!  기존 RMSE 126726.39308105245 에서 127882.03514239092 로 증가했습니다. 이전 DataFrame으로 복구합니다.

In [16]:
model.df['day_of_week'] = pd.to_datetime(model.df['date']).dt.day_of_week.astype(int)
model.make_graph('day_of_week')

<img src=https://i.ibb.co/HdcknNn/2021-10-18-01-51-45.png width=600></img>
- 주말에 거래가 적은 것을 확인할 수 있다.

In [17]:
model.compare_baseline()

[100]	training's l2: 0.0190024	training's custom_RMSE: 93809.5	valid_1's l2: 0.0267768	valid_1's custom_RMSE: 132944
[200]	training's l2: 0.0144923	training's custom_RMSE: 77441.4	valid_1's l2: 0.0260275	valid_1's custom_RMSE: 129696
[300]	training's l2: 0.0115984	training's custom_RMSE: 67485.2	valid_1's l2: 0.0258771	valid_1's custom_RMSE: 128623
[400]	training's l2: 0.0095058	training's custom_RMSE: 59795.6	valid_1's l2: 0.0258577	valid_1's custom_RMSE: 127768

 score가 악화되었습니다!  기존 RMSE 126726.39308105245 에서 127767.65343933327 로 증가했습니다. 이전 DataFrame으로 복구합니다.

In [18]:
model.df['month'] = pd.to_datetime(model.df['date']).dt.month.astype(int)
model.make_graph('month')

<img src=https://i.ibb.co/YBwGWj2/2021-10-18-01-52-55.png width=600></img>
- 1, 2월에 거래가 적은 것을 확인할 수 있다.

In [19]:
model.compare_baseline()

[100]	training's l2: 0.0183814	training's custom_RMSE: 92473.7	valid_1's l2: 0.026079	valid_1's custom_RMSE: 132016
[200]	training's l2: 0.0135769	training's custom_RMSE: 75694.7	valid_1's l2: 0.0250196	valid_1's custom_RMSE: 130081
[300]	training's l2: 0.0108294	training's custom_RMSE: 65405.6	valid_1's l2: 0.0248056	valid_1's custom_RMSE: 128859
[400]	training's l2: 0.0088529	training's custom_RMSE: 57343.6	valid_1's l2: 0.0248099	valid_1's custom_RMSE: 128628

 score가 악화되었습니다!  기존 RMSE 126726.39308105245 에서 128627.53005349716 로 증가했습니다. 이전 DataFrame으로 복구합니다.

## 3. price : 집의 가격(Target variable)

In [20]:
sns.distplot(train_df['target'])

<img src=https://i.ibb.co/JtpfHp5/2021-10-18-01-54-09.png width=350></img>

In [21]:
sns.boxplot(train_df['target'])

<img src=https://i.ibb.co/GkMyZ6D/2021-10-18-01-54-15.png width=350></img>

## 4. bedrooms : 침실의 수

In [22]:
model.make_graph('bedrooms')

<img src=https://i.ibb.co/7tYT8FN/2021-10-18-01-56-18.png width=600></img>

## 5. bathrooms : 화장실의 수

In [23]:
model.make_graph('bathrooms')

<img src=https://i.ibb.co/c3M3Wtg/2021-10-18-01-57-07.png width=600></img>

특이한 친구들이 많이 발견 되었다.

In [24]:
outlier = model.train_df[(model.train_df['bathrooms'] == 1.25) & (model.train_df['target'] > 14)]
outlier

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,target
12969,20141118T000000,3,1.25,2400,6653,3.0,0,2,3,11,2400,0,1992,0,98122,47.6019,-122.29,1910,6653,14.143374

In [25]:
model.drop_rows(outlier)
model.compare_baseline()

[100]	training's l2: 0.0191949	training's custom_RMSE: 94230.4	valid_1's l2: 0.0262792	valid_1's custom_RMSE: 129501
[200]	training's l2: 0.0146155	training's custom_RMSE: 78148.6	valid_1's l2: 0.0255341	valid_1's custom_RMSE: 126137
[300]	training's l2: 0.0118565	training's custom_RMSE: 67211.6	valid_1's l2: 0.0254537	valid_1's custom_RMSE: 124350
[400]	training's l2: 0.00975504	training's custom_RMSE: 59838.5	valid_1's l2: 0.0254797	valid_1's custom_RMSE: 124243

 score가 개선되었습니다!  기존 RMSE 126726.39308105245 에서 124243.35889691944 로 줄었습니다.

In [26]:
outlier = model.train_df[(model.train_df['bathrooms'] == 4.5) & (model.train_df['target'] > 15)]
outlier

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,target
2775,20140611T000000,5,4.5,10040,37325,2.0,1,2,3,11,7680,2360,1940,2001,98004,47.6500,-122.214,3930,25449,15.770310
5621,20140623T000000,3,4.5,5230,17826,2.0,1,4,3,10,3740,1490,2005,0,98040,47.5348,-122.243,3670,17826,15.039286

In [27]:
model.drop_rows(outlier)
model.compare_baseline()

[100]	training's l2: 0.0191794	training's custom_RMSE: 92936.1	valid_1's l2: 0.0255528	valid_1's custom_RMSE: 131626
[200]	training's l2: 0.0146619	training's custom_RMSE: 77374.5	valid_1's l2: 0.0247377	valid_1's custom_RMSE: 127019
[300]	training's l2: 0.0117814	training's custom_RMSE: 67756	valid_1's l2: 0.0245409	valid_1's custom_RMSE: 126166
[400]	training's l2: 0.00972245	training's custom_RMSE: 60549.6	valid_1's l2: 0.0245797	valid_1's custom_RMSE: 123771

 score가 개선되었습니다!  기존 RMSE 124243.35889691944 에서 123770.98454606062 로 줄었습니다.

In [28]:
outlier = model.train_df[(model.train_df['bathrooms'] == 5.25) & (model.train_df['target'] < 13)]
outlier

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,target
11701,20140520T000000,6,5.25,2860,5682,2.0,0,0,3,7,2860,0,1978,0,98002,47.303,-122.221,1390,5956,12.611538

In [29]:
model.drop_rows(outlier)
model.compare_baseline()

[100]	training's l2: 0.019114	training's custom_RMSE: 92233.5	valid_1's l2: 0.0261602	valid_1's custom_RMSE: 111640
[200]	training's l2: 0.0146142	training's custom_RMSE: 77136.4	valid_1's l2: 0.0254942	valid_1's custom_RMSE: 109371
[300]	training's l2: 0.0117934	training's custom_RMSE: 67472.5	valid_1's l2: 0.0253176	valid_1's custom_RMSE: 107873
[400]	training's l2: 0.00969234	training's custom_RMSE: 59810.6	valid_1's l2: 0.0252331	valid_1's custom_RMSE: 107297

 score가 개선되었습니다!  기존 RMSE 123770.98454606062 에서 107296.7067383942 로 줄었습니다.

In [30]:
outlier = model.train_df[(model.train_df['bathrooms'] > 6.5) & (model.train_df['target'] < 14)]
outlier

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,target
2859,20141007T000000,7,6.75,7480,41664,2.0,0,2,3,11,5080,2400,1953,0,98166,47.4643,-122.368,2810,33190,13.592367
5990,20140811T000000,9,7.50,4050,6504,2.0,0,0,3,7,4050,0,1996,0,98144,47.5923,-122.301,1448,3866,13.017003

In [31]:
model.drop_rows(outlier)
model.compare_baseline()

[100]	training's l2: 0.0189379	training's custom_RMSE: 91892.7	valid_1's l2: 0.027392	valid_1's custom_RMSE: 131051
[200]	training's l2: 0.0143908	training's custom_RMSE: 76999.3	valid_1's l2: 0.0266603	valid_1's custom_RMSE: 126203
[300]	training's l2: 0.0114521	training's custom_RMSE: 67987.6	valid_1's l2: 0.026634	valid_1's custom_RMSE: 124745
[400]	training's l2: 0.00942788	training's custom_RMSE: 59479.3	valid_1's l2: 0.0267118	valid_1's custom_RMSE: 124671

 score가 악화되었습니다!  기존 RMSE 107296.7067383942 에서 124671.42903126655 로 증가했습니다. 이전 DataFrame으로 복구합니다.

## 8. floors : 집의 층 수

In [32]:
model.make_graph('floors')

<img src=https://i.ibb.co/QMc0RHQ/2021-10-18-01-57-54.png width=600></img>

In [33]:
outlier = model.train_df[(model.train_df['floors'] == 2.5) & (model.train_df['target'] > 15)]
outlier

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,target
5108,20141013T000000,6,8.0,12050,27600,2.5,0,3,4,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800,15.856731

In [34]:
model.drop_rows(outlier)
model.compare_baseline()

[100]	training's l2: 0.0189735	training's custom_RMSE: 91360	valid_1's l2: 0.0272642	valid_1's custom_RMSE: 105354
[200]	training's l2: 0.0146042	training's custom_RMSE: 75631.2	valid_1's l2: 0.0266951	valid_1's custom_RMSE: 102598
[300]	training's l2: 0.0118413	training's custom_RMSE: 65785.5	valid_1's l2: 0.026419	valid_1's custom_RMSE: 102024
[400]	training's l2: 0.00976666	training's custom_RMSE: 59342.4	valid_1's l2: 0.0263735	valid_1's custom_RMSE: 101344

 score가 개선되었습니다!  기존 RMSE 107296.7067383942 에서 101343.51078320085 로 줄었습니다.

In [35]:
outlier = model.train_df[(model.train_df['floors'] == 2.0) & (model.train_df['target'] < 11.5)]
outlier

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,target
13164,20141129T000000,3,1.0,980,2490,2.0,0,0,4,6,980,0,1969,0,98092,47.317,-122.182,980,3154,11.407565

In [36]:
model.drop_rows(outlier)
model.compare_baseline()

[100]	training's l2: 0.0191313	training's custom_RMSE: 90810.2	valid_1's l2: 0.0254484	valid_1's custom_RMSE: 110461
[200]	training's l2: 0.0144593	training's custom_RMSE: 75932.9	valid_1's l2: 0.0246596	valid_1's custom_RMSE: 108095
[300]	training's l2: 0.0116924	training's custom_RMSE: 66478.6	valid_1's l2: 0.0245162	valid_1's custom_RMSE: 106728
[400]	training's l2: 0.00964957	training's custom_RMSE: 59684.6	valid_1's l2: 0.0245365	valid_1's custom_RMSE: 107074

 score가 악화되었습니다!  기존 RMSE 101343.51078320085 에서 107074.27994685667 로 증가했습니다. 이전 DataFrame으로 복구합니다.

In [37]:
outlier = model.train_df[(model.train_df['floors'] == 3.5) & (model.train_df['target'] > 14)]
outlier

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,target
12845,20141020T000000,8,4.0,7710,11750,3.5,0,0,5,12,6090,1620,1904,0,98112,47.6263,-122.314,4210,8325,15.009433

In [38]:
model.drop_rows(outlier)
model.compare_baseline()

[100]	training's l2: 0.0190836	training's custom_RMSE: 91030.7	valid_1's l2: 0.0253658	valid_1's custom_RMSE: 104641
[200]	training's l2: 0.0145459	training's custom_RMSE: 76623.5	valid_1's l2: 0.0247572	valid_1's custom_RMSE: 102123
[300]	training's l2: 0.0116286	training's custom_RMSE: 66509.1	valid_1's l2: 0.0246734	valid_1's custom_RMSE: 100968
[400]	training's l2: 0.00957547	training's custom_RMSE: 59362	valid_1's l2: 0.0247535	valid_1's custom_RMSE: 100930

 score가 개선되었습니다!  기존 RMSE 101343.51078320085 에서 100930.40819610794 로 줄었습니다.

## 9. waterfront : 집의 전방에 강이 흐르는지 유무 (a.k.a. 리버뷰)

In [39]:
model.make_graph('waterfront')

<img src=https://i.ibb.co/JsZB6Sg/2021-10-18-01-58-32.png width=600></img>

In [40]:
outlier = model.train_df[(model.train_df['waterfront'] == 0) & (model.train_df['target'] > 15.4)]
outlier

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,target
1045,20150413T000000,5,5.00,8000,23985,2.0,0,4,3,12,6720,1280,2009,0,98004,47.6232,-122.220,4600,21750,15.492607
3134,20140804T000000,5,5.75,9200,35069,2.0,0,0,3,13,6200,3000,2001,0,98039,47.6289,-122.233,3560,24345,15.532906
6469,20140919T000000,6,7.75,9890,31374,2.0,0,4,3,13,8860,1030,2001,0,98039,47.6305,-122.240,4540,42730,15.744856

In [41]:
model.drop_rows(outlier)
model.compare_baseline()

[100]	training's l2: 0.0188903	training's custom_RMSE: 89357	valid_1's l2: 0.025927	valid_1's custom_RMSE: 99497.1
[200]	training's l2: 0.0145176	training's custom_RMSE: 74721.6	valid_1's l2: 0.0255064	valid_1's custom_RMSE: 98951.6
[300]	training's l2: 0.0117733	training's custom_RMSE: 66431.2	valid_1's l2: 0.0253947	valid_1's custom_RMSE: 99718.2
[400]	training's l2: 0.00977215	training's custom_RMSE: 59981.1	valid_1's l2: 0.0254666	valid_1's custom_RMSE: 99773.9

 score가 개선되었습니다!  기존 RMSE 100930.40819610794 에서 99773.92139572458 로 줄었습니다.

## 10. view : 집이 얼마나 좋아 보이는지의 정도

In [42]:
model.make_graph('view')

<img src=https://i.ibb.co/BZwcRfj/2021-10-18-01-59-16.png width=600></img>

In [43]:
outlier = model.train_df[(model.train_df['view'] == 3) & (model.train_df['target'] < 12)]
outlier

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,target
3395,20140909T000000,2,1.0,1040,20524,1.0,0,3,3,6,1040,0,1949,1989,98014,47.6981,-121.875,1880,38996,11.944708

In [44]:
model.drop_rows(outlier)
model.compare_baseline()

[100]	training's l2: 0.019017	training's custom_RMSE: 88817.6	valid_1's l2: 0.0259014	valid_1's custom_RMSE: 102497
[200]	training's l2: 0.0146025	training's custom_RMSE: 74341	valid_1's l2: 0.0254993	valid_1's custom_RMSE: 102333
[300]	training's l2: 0.0117088	training's custom_RMSE: 66440.8	valid_1's l2: 0.0255979	valid_1's custom_RMSE: 102903
[400]	training's l2: 0.0097011	training's custom_RMSE: 58919.5	valid_1's l2: 0.0255913	valid_1's custom_RMSE: 102799

 score가 악화되었습니다!  기존 RMSE 99773.92139572458 에서 102798.80171397477 로 증가했습니다. 이전 DataFrame으로 복구합니다.

## 11. condition : 집의 전반적인 상태

In [45]:
model.make_graph('condition')

<img src=https://i.ibb.co/h2XC0b6/2021-10-18-02-00-02.png width=600></img>

In [46]:
outlier = model.train_df[(model.train_df['condition'] == 2) & (model.train_df['target'] > 14.1)]
outlier

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,target
7822,20140513T000000,4,2.5,5300,26211,2.0,1,2,2,10,4570,730,1923,0,98105,47.661,-122.269,3890,19281,14.753563

In [47]:
model.drop_rows(outlier)
model.compare_baseline()

[100]	training's l2: 0.0188392	training's custom_RMSE: 87396.1	valid_1's l2: 0.0264268	valid_1's custom_RMSE: 104418
[200]	training's l2: 0.0143867	training's custom_RMSE: 73382.6	valid_1's l2: 0.0257128	valid_1's custom_RMSE: 102934
[300]	training's l2: 0.0115439	training's custom_RMSE: 64877.2	valid_1's l2: 0.0254143	valid_1's custom_RMSE: 103033
[400]	training's l2: 0.00954587	training's custom_RMSE: 57811.7	valid_1's l2: 0.0254671	valid_1's custom_RMSE: 103176

 score가 악화되었습니다!  기존 RMSE 99773.92139572458 에서 103176.37883696244 로 증가했습니다. 이전 DataFrame으로 복구합니다.

In [48]:
outlier = model.train_df[(model.train_df['condition'] == 4) & (model.train_df['target'] > 15.3)]
outlier

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,target
947,20150413T000000,6,6.0,7390,24829,2.0,1,4,4,12,5000,2390,1991,0,98040,47.5631,-122.21,4320,24619,15.483217

In [49]:
model.drop_rows(outlier)
model.compare_baseline()

[100]	training's l2: 0.0188554	training's custom_RMSE: 86336.8	valid_1's l2: 0.0270805	valid_1's custom_RMSE: 113467
[200]	training's l2: 0.0144023	training's custom_RMSE: 72569.4	valid_1's l2: 0.0269503	valid_1's custom_RMSE: 113855
[300]	training's l2: 0.0116145	training's custom_RMSE: 64151.5	valid_1's l2: 0.026961	valid_1's custom_RMSE: 113608
[400]	training's l2: 0.00953199	training's custom_RMSE: 57755	valid_1's l2: 0.0271671	valid_1's custom_RMSE: 114859

 score가 악화되었습니다!  기존 RMSE 99773.92139572458 에서 114858.90284181711 로 증가했습니다. 이전 DataFrame으로 복구합니다.

## 12. grade : King County grading 시스템 기준으로 매긴 집의 등급

In [50]:
model.make_graph('grade')

<img src=https://i.ibb.co/qx49pXB/2021-10-18-02-01-34.png width=600></img>

## 17. zipcode : 우편번호

In [51]:
model.make_graph('zipcode')

<img src=https://i.ibb.co/cyszznn/2021-10-18-02-02-05.png width=600></img>

## 15. yr_built : 지어진 년도

In [52]:
model.make_graph('yr_built')

<img src=https://i.ibb.co/Vm9HJGV/2021-10-18-02-02-12.png width=600></img>

## 16. yr_renovated : 집을 재건축한 년도

In [53]:
model.make_graph('yr_renovated')

<img src=https://i.ibb.co/6wzV28w/2021-10-18-02-02-19.png width=600></img>

# 연속형 컬럼

## 6. sqft_living : 주거 공간의 평방 피트(면적)

In [54]:
model.make_graph('sqft_living', Type='continuous')

<img src=https://i.ibb.co/sK0tS0M/2021-10-18-02-03-42.png width=600></img>

In [55]:
outlier = model.train_df[(model.train_df['sqft_living'] > 12000 ) & (model.train_df['target'] > 14)]
outlier

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,target
8912,20140505T000000,7,8.0,13540,307752,3.0,0,4,3,12,9410,4130,1999,0,98053,47.6675,-121.986,4850,217800,14.639686

In [56]:
model.drop_rows(outlier)
model.compare_baseline()

[100]	training's l2: 0.0188509	training's custom_RMSE: 86292.8	valid_1's l2: 0.0266213	valid_1's custom_RMSE: 113215
[200]	training's l2: 0.0145	training's custom_RMSE: 72631.7	valid_1's l2: 0.0260682	valid_1's custom_RMSE: 111919
[300]	training's l2: 0.0117199	training's custom_RMSE: 63995.9	valid_1's l2: 0.0261437	valid_1's custom_RMSE: 112462
[400]	training's l2: 0.00967657	training's custom_RMSE: 57041.8	valid_1's l2: 0.0260506	valid_1's custom_RMSE: 113051

 score가 악화되었습니다!  기존 RMSE 99773.92139572458 에서 113051.3488176749 로 증가했습니다. 이전 DataFrame으로 복구합니다.

In [57]:
model.df['sqft_living'] = np.log(model.df['sqft_living']+1)
model.compare_baseline()

[100]	training's l2: 0.0188903	training's custom_RMSE: 89357	valid_1's l2: 0.025927	valid_1's custom_RMSE: 99497.1
[200]	training's l2: 0.0145176	training's custom_RMSE: 74721.6	valid_1's l2: 0.0255064	valid_1's custom_RMSE: 98951.6
[300]	training's l2: 0.0117733	training's custom_RMSE: 66431.2	valid_1's l2: 0.0253975	valid_1's custom_RMSE: 99720.4
[400]	training's l2: 0.00977215	training's custom_RMSE: 59981.1	valid_1's l2: 0.0254669	valid_1's custom_RMSE: 99774.2

 score가 악화되었습니다!  기존 RMSE 99773.92139572458 에서 99774.23400778674 로 증가했습니다. 이전 DataFrame으로 복구합니다.

## 7. sqft_lot : 부지의 평방 피트(면적)

In [58]:
model.make_graph('sqft_lot', Type='continuous')

<img src=https://i.ibb.co/kB6XXW0/2021-10-18-02-03-49.png width=600></img>

In [59]:
outlier = model.train_df[(model.train_df['sqft_lot'] > 1.5e6 ) & (model.train_df['target'] > 13)]
outlier

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,target
1231,20150327T000000,4,1.0,1300,1651359,1.0,0,3,4,6,1300,0,1920,0,98022,47.2313,-122.023,2560,425581,13.458836

In [60]:
model.drop_rows(outlier)
model.compare_baseline()

[100]	training's l2: 0.0188723	training's custom_RMSE: 88555.2	valid_1's l2: 0.026458	valid_1's custom_RMSE: 106779
[200]	training's l2: 0.0143527	training's custom_RMSE: 73615.1	valid_1's l2: 0.0258275	valid_1's custom_RMSE: 104819
[300]	training's l2: 0.0115715	training's custom_RMSE: 64149.1	valid_1's l2: 0.0258331	valid_1's custom_RMSE: 104707
[400]	training's l2: 0.00953633	training's custom_RMSE: 57529.3	valid_1's l2: 0.0258735	valid_1's custom_RMSE: 104023

 score가 악화되었습니다!  기존 RMSE 99773.92139572458 에서 104022.70508000544 로 증가했습니다. 이전 DataFrame으로 복구합니다.

In [61]:
model.df['sqft_lot'] = np.log(model.df['sqft_lot']+1)
model.compare_baseline()

[100]	training's l2: 0.0188903	training's custom_RMSE: 89357	valid_1's l2: 0.0259268	valid_1's custom_RMSE: 99497
[200]	training's l2: 0.0145176	training's custom_RMSE: 74721.6	valid_1's l2: 0.0255062	valid_1's custom_RMSE: 98951.5
[300]	training's l2: 0.0117733	training's custom_RMSE: 66431.2	valid_1's l2: 0.0253946	valid_1's custom_RMSE: 99718.1
[400]	training's l2: 0.00977215	training's custom_RMSE: 59981.1	valid_1's l2: 0.0254664	valid_1's custom_RMSE: 99773.8

 score가 개선되었습니다!  기존 RMSE 99773.92139572458 에서 99773.81798457142 로 줄었습니다.

## 13. sqft_above : 지하실을 제외한 평방 피트(면적)

In [62]:
model.make_graph('sqft_above', Type='continuous')

<img src=https://i.ibb.co/rc3XZwp/2021-10-18-02-03-56.png width=600></img>

In [63]:
model.df['sqft_above'] = np.log(model.df['sqft_above']+1)
model.compare_baseline()

[100]	training's l2: 0.0188903	training's custom_RMSE: 89357	valid_1's l2: 0.0259268	valid_1's custom_RMSE: 99497
[200]	training's l2: 0.0145176	training's custom_RMSE: 74721.6	valid_1's l2: 0.0255062	valid_1's custom_RMSE: 98951.5
[300]	training's l2: 0.0117733	training's custom_RMSE: 66431.2	valid_1's l2: 0.0253946	valid_1's custom_RMSE: 99718.1
[400]	training's l2: 0.00977215	training's custom_RMSE: 59981.1	valid_1's l2: 0.0254664	valid_1's custom_RMSE: 99773.8

 score가 악화되었습니다!  기존 RMSE 99773.81798457142 에서 99773.81798457142 로 증가했습니다. 이전 DataFrame으로 복구합니다.

## 14. sqft_basement : 지하실의 평방 피트(면적)

In [64]:
model.make_graph('sqft_basement', Type='continuous')

<img src=https://i.ibb.co/mbqcVcJ/2021-10-18-02-04-02.png width=600></img>

In [65]:
model.df['sqft_basement'] = np.log(model.df['sqft_basement']+1)
model.compare_baseline()

[100]	training's l2: 0.0188903	training's custom_RMSE: 89357	valid_1's l2: 0.0259268	valid_1's custom_RMSE: 99497
[200]	training's l2: 0.0145176	training's custom_RMSE: 74721.6	valid_1's l2: 0.0255062	valid_1's custom_RMSE: 98951.5
[300]	training's l2: 0.0117733	training's custom_RMSE: 66431.2	valid_1's l2: 0.0253946	valid_1's custom_RMSE: 99718.1
[400]	training's l2: 0.00977215	training's custom_RMSE: 59981.1	valid_1's l2: 0.0254664	valid_1's custom_RMSE: 99773.8

 score가 악화되었습니다!  기존 RMSE 99773.81798457142 에서 99773.81798457142 로 증가했습니다. 이전 DataFrame으로 복구합니다.

## 18. lat : 위도

In [66]:
model.make_graph('lat', Type='continuous')

<img src=https://i.ibb.co/JHNRX2X/2021-10-18-02-04-08.png width=600></img>

## 19. long : 경도

In [67]:
model.make_graph('long', Type='continuous')

<img src=https://i.ibb.co/4gD61vg/2021-10-18-02-04-20.png width=600></img>

## 20. sqft_living15
: 2015년 기준 주거 공간의 평방 피트(면적, 집을 재건축했다면, 변화가 있을 수 있음)

In [68]:
model.make_graph('sqft_living15', Type='continuous')

<img src=https://i.ibb.co/t4NdjXh/2021-10-18-02-04-26.png width=600></img>

In [69]:
outlier = model.train_df[(model.train_df['sqft_living15'] < 500) & (model.train_df['target'] < 14)]
outlier

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,target
9372,20150512T000000,3,2.75,2290,34548,2.0,0,3,4,7,2290,0,1984,0,98042,47.3691,-122.163,399,275299,13.191889
12007,20140616T000000,5,2.50,2760,8015,1.0,0,0,4,8,1600,1160,1960,0,98125,47.7255,-122.297,460,18000,12.842649

In [70]:
model.drop_rows(outlier)
model.compare_baseline()

[100]	training's l2: 0.0188908	training's custom_RMSE: 87215.2	valid_1's l2: 0.027266	valid_1's custom_RMSE: 107448
[200]	training's l2: 0.0144062	training's custom_RMSE: 73399.8	valid_1's l2: 0.0265237	valid_1's custom_RMSE: 103027
[300]	training's l2: 0.0116511	training's custom_RMSE: 64688.1	valid_1's l2: 0.0264249	valid_1's custom_RMSE: 102521
[400]	training's l2: 0.0096363	training's custom_RMSE: 57779.3	valid_1's l2: 0.0264173	valid_1's custom_RMSE: 101928

 score가 악화되었습니다!  기존 RMSE 99773.81798457142 에서 101928.18393308033 로 증가했습니다. 이전 DataFrame으로 복구합니다.

In [71]:
model.df['sqft_living15'] = np.log(model.df['sqft_living15']+1)
model.compare_baseline()

[100]	training's l2: 0.0188903	training's custom_RMSE: 89357	valid_1's l2: 0.0259268	valid_1's custom_RMSE: 99497
[200]	training's l2: 0.0145176	training's custom_RMSE: 74721.6	valid_1's l2: 0.0255062	valid_1's custom_RMSE: 98951.5
[300]	training's l2: 0.0117733	training's custom_RMSE: 66431.2	valid_1's l2: 0.0253946	valid_1's custom_RMSE: 99718.1
[400]	training's l2: 0.00977215	training's custom_RMSE: 59981.1	valid_1's l2: 0.0254664	valid_1's custom_RMSE: 99773.8

 score가 악화되었습니다!  기존 RMSE 99773.81798457142 에서 99773.81798457142 로 증가했습니다. 이전 DataFrame으로 복구합니다.

## 21. sqft_lot15
: 2015년 기준 부지의 평방 피트(면적, 집을 재건축했다면, 변화가 있을 수 있음)

In [72]:
model.make_graph('sqft_lot15', Type='continuous')

<img src=https://i.ibb.co/51s5CB8/2021-10-18-02-04-32.png width=600></img>

In [73]:
outlier = model.train_df[(model.train_df['sqft_lot15'] > 8e5)]
outlier

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,target
6779,20150107T000000,4,4.0,5545,871200,2.0,0,0,3,11,3605,1940,2003,0,98014,47.676,-121.882,3420,871200,13.750972
14225,20150415T000000,4,5.5,6530,871200,2.0,0,2,3,11,6530,0,2008,0,98014,47.664,-121.878,1280,858132,14.285514

In [74]:
model.drop_rows(outlier)
model.compare_baseline()

[100]	training's l2: 0.0191398	training's custom_RMSE: 88948.7	valid_1's l2: 0.0255405	valid_1's custom_RMSE: 104970
[200]	training's l2: 0.0145095	training's custom_RMSE: 74801.9	valid_1's l2: 0.025102	valid_1's custom_RMSE: 100923
[300]	training's l2: 0.0116175	training's custom_RMSE: 66544.2	valid_1's l2: 0.0250605	valid_1's custom_RMSE: 100805
[400]	training's l2: 0.00947919	training's custom_RMSE: 59168.2	valid_1's l2: 0.0250894	valid_1's custom_RMSE: 100378

 score가 악화되었습니다!  기존 RMSE 99773.81798457142 에서 100378.4913862586 로 증가했습니다. 이전 DataFrame으로 복구합니다.

In [75]:
model.df['sqft_lot15'] = np.log(model.df['sqft_lot15']+1)
model.compare_baseline()

[100]	training's l2: 0.0188903	training's custom_RMSE: 89357	valid_1's l2: 0.0259268	valid_1's custom_RMSE: 99497
[200]	training's l2: 0.0145176	training's custom_RMSE: 74721.6	valid_1's l2: 0.0255062	valid_1's custom_RMSE: 98951.5
[300]	training's l2: 0.0117733	training's custom_RMSE: 66431.2	valid_1's l2: 0.0253946	valid_1's custom_RMSE: 99718.1
[400]	training's l2: 0.00977215	training's custom_RMSE: 59981.1	valid_1's l2: 0.0254664	valid_1's custom_RMSE: 99773.8

 score가 악화되었습니다!  기존 RMSE 99773.81798457142 에서 99773.81798457142 로 증가했습니다. 이전 DataFrame으로 복구합니다.

# 이상치 제거 후, test set 평가

In [76]:
pred = model.make_prediction()
submission['price'] = pred
submission.to_csv('submission.csv', index=False)
!kaggle competitions submit -c 2019-2nd-ml-month-with-kakr -f submission.csv -m "target값 로그 적용, 아웃라이어 제거"

<img src=https://i.ibb.co/zFZ6XcJ/2021-10-18-10-02-56.png width=768></img>

# Feature Engineering

In [77]:
model.df['allrooms'] = model.df['bedrooms'] + model.df['bathrooms']
model.compare_baseline(True)

[100]	training's l2: 0.0190085	training's custom_RMSE: 88736.8	valid_1's l2: 0.0262718	valid_1's custom_RMSE: 100817
[200]	training's l2: 0.0145556	training's custom_RMSE: 75064.7	valid_1's l2: 0.0257571	valid_1's custom_RMSE: 100103
[300]	training's l2: 0.0117735	training's custom_RMSE: 66256.9	valid_1's l2: 0.0255424	valid_1's custom_RMSE: 100120
[400]	training's l2: 0.00961879	training's custom_RMSE: 60065.7	valid_1's l2: 0.0255119	valid_1's custom_RMSE: 100381

 현재 수동모드입니다. rmse가 악화되도 이전 DataFrame으로 복구 하지 않습니다. 기존 RMSE 99773.81798457142 에서 100380.591919148 로 변했습니다.

In [78]:
model.df['diff_rooms'] = model.df['bedrooms'] - model.df['bathrooms']
model.compare_baseline(True)

[100]	training's l2: 0.0190312	training's custom_RMSE: 89126	valid_1's l2: 0.0264592	valid_1's custom_RMSE: 100695
[200]	training's l2: 0.0146045	training's custom_RMSE: 74785.1	valid_1's l2: 0.0257505	valid_1's custom_RMSE: 100816
[300]	training's l2: 0.0117504	training's custom_RMSE: 66035.1	valid_1's l2: 0.0256176	valid_1's custom_RMSE: 100790
[400]	training's l2: 0.00956293	training's custom_RMSE: 58318.5	valid_1's l2: 0.0254657	valid_1's custom_RMSE: 100804

 현재 수동모드입니다. rmse가 악화되도 이전 DataFrame으로 복구 하지 않습니다. 기존 RMSE 99773.81798457142 에서 100803.65338876084 로 변했습니다.

In [79]:
model.df['ratio_rooms'] =  model.df['bathrooms'] / model.df['bedrooms']
model.compare_baseline(True)

[100]	training's l2: 0.0189904	training's custom_RMSE: 87888.8	valid_1's l2: 0.0260372	valid_1's custom_RMSE: 99100.2
[200]	training's l2: 0.0144344	training's custom_RMSE: 73993	valid_1's l2: 0.0252778	valid_1's custom_RMSE: 99362.8
[300]	training's l2: 0.0116527	training's custom_RMSE: 65031.4	valid_1's l2: 0.0249746	valid_1's custom_RMSE: 99143.3
[400]	training's l2: 0.00958953	training's custom_RMSE: 58445.5	valid_1's l2: 0.025071	valid_1's custom_RMSE: 98919.6

 score가 개선되었습니다!  기존 RMSE 99773.81798457142 에서 98919.64985349694 로 줄었습니다.

In [80]:
model.df['grade2'] = model.df['condition'] + model.df['grade']
model.compare_baseline(True)

[100]	training's l2: 0.0188548	training's custom_RMSE: 87672.4	valid_1's l2: 0.0258355	valid_1's custom_RMSE: 97664
[200]	training's l2: 0.0143701	training's custom_RMSE: 73412	valid_1's l2: 0.0254699	valid_1's custom_RMSE: 96779.1
[300]	training's l2: 0.0115105	training's custom_RMSE: 64099.7	valid_1's l2: 0.0252538	valid_1's custom_RMSE: 96279.1
[400]	training's l2: 0.00935684	training's custom_RMSE: 57034.2	valid_1's l2: 0.0252766	valid_1's custom_RMSE: 96031.7

 score가 개선되었습니다!  기존 RMSE 98919.64985349694 에서 96031.70697994315 로 줄었습니다.

In [81]:
model.df['grade3'] = model.df['condition'] - model.df['grade']
model.compare_baseline(True)

[100]	training's l2: 0.0188143	training's custom_RMSE: 89212.3	valid_1's l2: 0.0259439	valid_1's custom_RMSE: 100389
[200]	training's l2: 0.0141617	training's custom_RMSE: 74510.3	valid_1's l2: 0.0253241	valid_1's custom_RMSE: 99955
[300]	training's l2: 0.0114483	training's custom_RMSE: 65300.5	valid_1's l2: 0.0252268	valid_1's custom_RMSE: 100375
[400]	training's l2: 0.00927019	training's custom_RMSE: 58127.3	valid_1's l2: 0.0252124	valid_1's custom_RMSE: 99895.3

 현재 수동모드입니다. rmse가 악화되도 이전 DataFrame으로 복구 하지 않습니다. 기존 RMSE 96031.70697994315 에서 99895.28613897813 로 변했습니다.

In [82]:
model.df['grade4'] = model.df['view'] + model.df['grade']
model.compare_baseline(True)

[100]	training's l2: 0.0189774	training's custom_RMSE: 88119.7	valid_1's l2: 0.025953	valid_1's custom_RMSE: 100459
[200]	training's l2: 0.0143716	training's custom_RMSE: 74317.2	valid_1's l2: 0.0251713	valid_1's custom_RMSE: 99756.9
[300]	training's l2: 0.0115783	training's custom_RMSE: 65534.4	valid_1's l2: 0.0250213	valid_1's custom_RMSE: 100436
[400]	training's l2: 0.00943431	training's custom_RMSE: 58545.2	valid_1's l2: 0.0250556	valid_1's custom_RMSE: 101186

 현재 수동모드입니다. rmse가 악화되도 이전 DataFrame으로 복구 하지 않습니다. 기존 RMSE 96031.70697994315 에서 101185.7266306191 로 변했습니다.

In [83]:
model.df['grade5'] = model.df['view'] - model.df['grade']
model.compare_baseline(True)

[100]	training's l2: 0.0190011	training's custom_RMSE: 88567.4	valid_1's l2: 0.0260692	valid_1's custom_RMSE: 99844.5
[200]	training's l2: 0.0144634	training's custom_RMSE: 73775.1	valid_1's l2: 0.02538	valid_1's custom_RMSE: 98879.2
[300]	training's l2: 0.0116192	training's custom_RMSE: 64875.3	valid_1's l2: 0.0251906	valid_1's custom_RMSE: 99307.2
[400]	training's l2: 0.00946608	training's custom_RMSE: 58379.6	valid_1's l2: 0.025092	valid_1's custom_RMSE: 99137.4

 현재 수동모드입니다. rmse가 악화되도 이전 DataFrame으로 복구 하지 않습니다. 기존 RMSE 96031.70697994315 에서 99137.4402581968 로 변했습니다.

In [84]:
model.df['grade6'] = model.df['view'] + model.df['condition']
model.compare_baseline(True)

[100]	training's l2: 0.0189032	training's custom_RMSE: 88498.9	valid_1's l2: 0.0261719	valid_1's custom_RMSE: 100640
[200]	training's l2: 0.0143456	training's custom_RMSE: 74027.3	valid_1's l2: 0.0255895	valid_1's custom_RMSE: 101386
[300]	training's l2: 0.0116264	training's custom_RMSE: 65086.4	valid_1's l2: 0.0253128	valid_1's custom_RMSE: 102026
[400]	training's l2: 0.00943575	training's custom_RMSE: 57699.6	valid_1's l2: 0.0252523	valid_1's custom_RMSE: 102126

 현재 수동모드입니다. rmse가 악화되도 이전 DataFrame으로 복구 하지 않습니다. 기존 RMSE 96031.70697994315 에서 102126.40531861404 로 변했습니다.

In [85]:
model.df['grade7'] = model.df['view'] - model.df['condition']
model.compare_baseline(True)

[100]	training's l2: 0.0187681	training's custom_RMSE: 88505.6	valid_1's l2: 0.0260449	valid_1's custom_RMSE: 100020
[200]	training's l2: 0.0142909	training's custom_RMSE: 74592.9	valid_1's l2: 0.0252666	valid_1's custom_RMSE: 99287.2
[300]	training's l2: 0.0115298	training's custom_RMSE: 64722.6	valid_1's l2: 0.0252168	valid_1's custom_RMSE: 99923.4
[400]	training's l2: 0.00948072	training's custom_RMSE: 58199.5	valid_1's l2: 0.0252918	valid_1's custom_RMSE: 100641

 현재 수동모드입니다. rmse가 악화되도 이전 DataFrame으로 복구 하지 않습니다. 기존 RMSE 96031.70697994315 에서 100641.10177101255 로 변했습니다.

In [86]:
model.df['diff_sqft'] = model.df['sqft_lot'] - model.df['sqft_living']
model.compare_baseline(True)

[100]	training's l2: 0.0189291	training's custom_RMSE: 87904.3	valid_1's l2: 0.025793	valid_1's custom_RMSE: 98955.1
[200]	training's l2: 0.0142695	training's custom_RMSE: 73556	valid_1's l2: 0.0251527	valid_1's custom_RMSE: 99169.4
[300]	training's l2: 0.0114606	training's custom_RMSE: 65139.4	valid_1's l2: 0.0249198	valid_1's custom_RMSE: 99015.4
[400]	training's l2: 0.0093293	training's custom_RMSE: 57864.6	valid_1's l2: 0.0249174	valid_1's custom_RMSE: 99580.4

 현재 수동모드입니다. rmse가 악화되도 이전 DataFrame으로 복구 하지 않습니다. 기존 RMSE 96031.70697994315 에서 99580.37506620395 로 변했습니다.

In [87]:
model.df['ratio_sqft'] = model.df['sqft_living'] / model.df['sqft_lot']
model.compare_baseline(True)

[100]	training's l2: 0.0188397	training's custom_RMSE: 88293.2	valid_1's l2: 0.0258996	valid_1's custom_RMSE: 100698
[200]	training's l2: 0.0142397	training's custom_RMSE: 74290.7	valid_1's l2: 0.0252817	valid_1's custom_RMSE: 100970
[300]	training's l2: 0.0114327	training's custom_RMSE: 65599.7	valid_1's l2: 0.0252224	valid_1's custom_RMSE: 101383
[400]	training's l2: 0.00941357	training's custom_RMSE: 58546.7	valid_1's l2: 0.0252256	valid_1's custom_RMSE: 101779

 현재 수동모드입니다. rmse가 악화되도 이전 DataFrame으로 복구 하지 않습니다. 기존 RMSE 96031.70697994315 에서 101779.22404406714 로 변했습니다.

In [88]:
model.df['sqft_living152'] = model.df['sqft_living15'] - model.df['sqft_living']
model.compare_baseline(True)

[100]	training's l2: 0.0187488	training's custom_RMSE: 87601.6	valid_1's l2: 0.0260943	valid_1's custom_RMSE: 100962
[200]	training's l2: 0.0140329	training's custom_RMSE: 74475.1	valid_1's l2: 0.0250963	valid_1's custom_RMSE: 99450.8
[300]	training's l2: 0.0111227	training's custom_RMSE: 65047.4	valid_1's l2: 0.0250674	valid_1's custom_RMSE: 99979.7
[400]	training's l2: 0.00905455	training's custom_RMSE: 56308.8	valid_1's l2: 0.0250201	valid_1's custom_RMSE: 101053

 현재 수동모드입니다. rmse가 악화되도 이전 DataFrame으로 복구 하지 않습니다. 기존 RMSE 96031.70697994315 에서 101053.34631561565 로 변했습니다.

In [89]:
model.df['sqft_lot152'] = model.df['sqft_lot15'] - model.df['sqft_lot']
model.compare_baseline(True)

[100]	training's l2: 0.0186522	training's custom_RMSE: 88307.1	valid_1's l2: 0.0258376	valid_1's custom_RMSE: 98771.5
[200]	training's l2: 0.0140869	training's custom_RMSE: 73891.4	valid_1's l2: 0.0251918	valid_1's custom_RMSE: 98543.2
[300]	training's l2: 0.0110959	training's custom_RMSE: 64410.8	valid_1's l2: 0.0250145	valid_1's custom_RMSE: 98664.4
[400]	training's l2: 0.00909193	training's custom_RMSE: 56716.2	valid_1's l2: 0.0251238	valid_1's custom_RMSE: 99318.2

 현재 수동모드입니다. rmse가 악화되도 이전 DataFrame으로 복구 하지 않습니다. 기존 RMSE 96031.70697994315 에서 99318.2074353779 로 변했습니다.

In [90]:
model.df['ratio_sqft2'] = model.df['sqft_living15'] / model.df['sqft_lot15']
model.compare_baseline(True)

[100]	training's l2: 0.0186351	training's custom_RMSE: 87741.2	valid_1's l2: 0.026089	valid_1's custom_RMSE: 100624
[200]	training's l2: 0.0138856	training's custom_RMSE: 73416	valid_1's l2: 0.0256074	valid_1's custom_RMSE: 100928
[300]	training's l2: 0.0108384	training's custom_RMSE: 62497.2	valid_1's l2: 0.0253527	valid_1's custom_RMSE: 100871
[400]	training's l2: 0.00870006	training's custom_RMSE: 56482.4	valid_1's l2: 0.0254798	valid_1's custom_RMSE: 101010

 현재 수동모드입니다. rmse가 악화되도 이전 DataFrame으로 복구 하지 않습니다. 기존 RMSE 96031.70697994315 에서 101009.71937814305 로 변했습니다.

In [91]:
model.df['ratio_lot'] = model.df['sqft_lot'] / model.df['sqft_lot15']
model.compare_baseline(True)

[100]	training's l2: 0.0185989	training's custom_RMSE: 87254	valid_1's l2: 0.0259901	valid_1's custom_RMSE: 99475.4
[200]	training's l2: 0.013939	training's custom_RMSE: 73302.7	valid_1's l2: 0.0253683	valid_1's custom_RMSE: 99531.1
[300]	training's l2: 0.0109365	training's custom_RMSE: 64413.5	valid_1's l2: 0.0253427	valid_1's custom_RMSE: 99551
[400]	training's l2: 0.00886333	training's custom_RMSE: 56936.3	valid_1's l2: 0.0253413	valid_1's custom_RMSE: 99725

 현재 수동모드입니다. rmse가 악화되도 이전 DataFrame으로 복구 하지 않습니다. 기존 RMSE 96031.70697994315 에서 99725.04375707183 로 변했습니다.

In [92]:
model.df['ratio_living'] = model.df['sqft_living'] / model.df['sqft_living15']
model.compare_baseline(True)

[100]	training's l2: 0.0184458	training's custom_RMSE: 88072.8	valid_1's l2: 0.0260413	valid_1's custom_RMSE: 100786
[200]	training's l2: 0.0136688	training's custom_RMSE: 72401.7	valid_1's l2: 0.0253819	valid_1's custom_RMSE: 101348
[300]	training's l2: 0.0106439	training's custom_RMSE: 62461.6	valid_1's l2: 0.0252666	valid_1's custom_RMSE: 101921
[400]	training's l2: 0.00858181	training's custom_RMSE: 55224.2	valid_1's l2: 0.025314	valid_1's custom_RMSE: 101151

 현재 수동모드입니다. rmse가 악화되도 이전 DataFrame으로 복구 하지 않습니다. 기존 RMSE 96031.70697994315 에서 101150.56774465233 로 변했습니다.

In [93]:
model.df['year'] = pd.to_datetime(model.df['date']).dt.year
model.compare_baseline(True)

[100]	training's l2: 0.0181496	training's custom_RMSE: 87242.1	valid_1's l2: 0.0256777	valid_1's custom_RMSE: 99136.6
[200]	training's l2: 0.0133553	training's custom_RMSE: 72404.7	valid_1's l2: 0.0250647	valid_1's custom_RMSE: 98794.6
[300]	training's l2: 0.0104415	training's custom_RMSE: 62637.1	valid_1's l2: 0.0249765	valid_1's custom_RMSE: 100111
[400]	training's l2: 0.00831358	training's custom_RMSE: 54912.7	valid_1's l2: 0.0248414	valid_1's custom_RMSE: 99814.4

 현재 수동모드입니다. rmse가 악화되도 이전 DataFrame으로 복구 하지 않습니다. 기존 RMSE 96031.70697994315 에서 99814.39490548367 로 변했습니다.

In [94]:
model.df['year'] = pd.to_datetime(model.df['date']).dt.year
model.df['age'] = model.df['yr_built'] - model.df['year']
del model.df['year']
model.compare_baseline(True)

[100]	training's l2: 0.0186716	training's custom_RMSE: 87823.3	valid_1's l2: 0.0262075	valid_1's custom_RMSE: 100033
[200]	training's l2: 0.0138376	training's custom_RMSE: 72618.3	valid_1's l2: 0.0256112	valid_1's custom_RMSE: 99156.8
[300]	training's l2: 0.0108216	training's custom_RMSE: 63215.6	valid_1's l2: 0.0253616	valid_1's custom_RMSE: 98299.8
[400]	training's l2: 0.00872182	training's custom_RMSE: 56052.1	valid_1's l2: 0.0252014	valid_1's custom_RMSE: 98744.6

 현재 수동모드입니다. rmse가 악화되도 이전 DataFrame으로 복구 하지 않습니다. 기존 RMSE 96031.70697994315 에서 98744.61201979798 로 변했습니다.

In [95]:
model.df['year'] = pd.to_datetime(model.df['date']).dt.year
model.df['age2'] = model.df['yr_renovated'] - model.df['year']
del model.df['year']
model.compare_baseline(True)

[100]	training's l2: 0.0180971	training's custom_RMSE: 87400.3	valid_1's l2: 0.0255421	valid_1's custom_RMSE: 99118.7
[200]	training's l2: 0.0131451	training's custom_RMSE: 71069.2	valid_1's l2: 0.0248242	valid_1's custom_RMSE: 98311.7
[300]	training's l2: 0.0102922	training's custom_RMSE: 61199.1	valid_1's l2: 0.0247152	valid_1's custom_RMSE: 98031.3
[400]	training's l2: 0.00817613	training's custom_RMSE: 54619.9	valid_1's l2: 0.0248691	valid_1's custom_RMSE: 98240.1

 현재 수동모드입니다. rmse가 악화되도 이전 DataFrame으로 복구 하지 않습니다. 기존 RMSE 96031.70697994315 에서 98240.0737162504 로 변했습니다.

In [96]:
model.df['latlong1'] = model.df['lat'] + model.df['long']
model.df['latlong2'] = model.df['lat'] - model.df['long']
model.compare_baseline(True)

[100]	training's l2: 0.0176571	training's custom_RMSE: 86165.6	valid_1's l2: 0.0257459	valid_1's custom_RMSE: 102072
[200]	training's l2: 0.012707	training's custom_RMSE: 71836.6	valid_1's l2: 0.0249707	valid_1's custom_RMSE: 100419
[300]	training's l2: 0.00991859	training's custom_RMSE: 62448.7	valid_1's l2: 0.0248749	valid_1's custom_RMSE: 100400
[400]	training's l2: 0.00787838	training's custom_RMSE: 54302.2	valid_1's l2: 0.0249306	valid_1's custom_RMSE: 100574

 현재 수동모드입니다. rmse가 악화되도 이전 DataFrame으로 복구 하지 않습니다. 기존 RMSE 96031.70697994315 에서 100574.11696673663 로 변했습니다.

In [103]:
pred = model.make_prediction()
submission['price'] = pred
submission.to_csv('submission.csv', index=False)
!kaggle competitions submit -c 2019-2nd-ml-month-with-kakr -f submission.csv -m "아웃라이어 제거, 로그스케일링, 피쳐엔지니어링"

<img src=https://i.ibb.co/HnNgPSK/2021-10-18-10-09-04.png width=768></img>

# Ensemble

In [98]:
from catboost import CatBoostRegressor

cb = CatBoostRegressor(task_type='GPU')
x = model.df[:-model.test_size].copy()
y = x['target']

for col in ['id', 'target', 'date']:
    if col in x.columns:
        x = x.drop(col, axis=1)

train_x, val_x, train_y, val_y = train_test_split(x, y, test_size=0.2, random_state=32) 
cb.fit(train_x, train_y, eval_set=(val_x, val_y), early_stopping_rounds=20, verbose=False)

In [99]:
from xgboost import XGBRegressor

xgb = XGBRegressor(n_estimators=600, learning_rate=0.08)

x = model.df[:-model.test_size].copy()
y = x['target']

for col in ['id', 'target', 'date']:
    if col in x.columns:
        x = x.drop(col, axis=1)

train_x, val_x, train_y, val_y = train_test_split(x, y, test_size=0.2, random_state=32) 
xgb.fit(train_x, train_y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.08, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=600, n_jobs=4, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [100]:
test_df = model.df[-model.test_size:]
for col in ['id', 'target', 'date']:
    if col in test_df.columns:
        test_df = test_df.drop(col, axis=1)

In [101]:
pred = model.make_prediction()
pred1 = np.exp(cb.predict(test_df))
pred2 = np.exp(xgb.predict(test_df))

In [102]:
submission['price'] = pred*0.5+ pred1*0.1+pred2*0.4
submission.to_csv('submission.csv', index=False)
!kaggle competitions submit -c 2019-2nd-ml-month-with-kakr -f submission.csv -m "아웃라이어 제거, 로그스케일링, 피쳐엔지니어링, ensemble"

<img src=https://i.ibb.co/zbSCDqZ/2021-10-18-10-16-38.png width=700></img>

# 정리
RMSE 변화
- 121652.13575 제공된 데이터 그대로 모델 훈련
- 118597.82522 타겟값에 로그 스케일링
- 114092.00781 아웃라이어 제거
- 110848.56801 피처엔지니어링 적용
- 109364.00681 LGBM, XGBoost, CatBoost 앙상블